@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

@tailwind base;

@tailwind components;

.active {
  @apply text-red-600 font-medium;
}

.btn {
  @apply inline-block font-medium py-3 px-6 border-2 border-transparent uppercase;
}

.btn-small {
  @apply py-2 px-4;
}

.btn-fill {
  @apply bg-red-600 text-white transition ease-in-out duration-300 hover:bg-transparent hover:border-red-600 hover:text-red-600;
}

.btn-outline {
  @apply bg-transparent border-2 transition ease-in-out duration-300 hover:border-transparent;
}

.btn-outline-red {
  @apply border-red-600 text-red-600 hover:bg-red-600 hover:text-white;
}

.btn-outline-gray {
  @apply border-gray-700 text-gray-700 hover:bg-gray-900 hover:text-white;
}

.stars {
  position: relative;
  min-width: 200px;
  display: inline-flex;
}

.star {
  position: absolute;
  display: inline-flex;
  mask: url(../images/icons/star.svg) no-repeat center left;
}

.star:not(.placeholder) {
  @apply z-20 bg-yellow-500;
}

.star.placeholder {
  @apply z-10 bg-gray-400;
}

.stepper li::after {
  position: absolute;
  content: "";
  z-index: 2;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="check w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg>');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #e53e3e;
  transform: scale(1);
  transition: 0.35s transform ease-in-out;
}

.stepper li:not(:last-child) {
  margin-right: 60px;
}

.stepper li:not(:last-child)::before {
  content: "";
  z-index: -2;
  top: 50%;
  left: 100%;
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: #e53e3e;
}

.stepper li.active {
  background-color: #ffffff;
  color: #a0aec0;
}

.stepper li.active::after {
  z-index: -1;
  border: 1px solid #e2e8f0;
  transform: scale(1.2);
}

.stepper li.active ~ li {
  color: #a0aec0;
  background-color: #e2e8fe;
}

.stepper li.active ~ li::after {
  content: none;
}

@tailwind utilities;

.w-180 {
  width: 45rem;
}

.h-120 {
  height: 30rem;
}

.h-135 {
  height: 33.75rem;
}
