@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;

@tailwind components;

.active {
  @apply text-red-600 font-medium;
}

.btn {
  @apply inline-block font-medium py-3 px-6 border-2 border-transparent uppercase;
}

.btn-small {
  @apply py-2 px-4;
}

.btn-fill {
  @apply bg-red-600 text-white transition ease-in-out duration-300 hover:bg-transparent hover:border-red-600 hover:text-red-600;
}

.btn-outline {
  @apply bg-transparent border-2 transition ease-in-out duration-300 hover:border-transparent;
}

.btn-outline-red {
  @apply border-red-600 text-red-600 hover:bg-red-600 hover:text-white;
}

.btn-outline-gray {
  @apply border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-white;
}

.stars {
  position: relative;
  min-width: 200px;
  display: inline-flex;
}

.star {
  position: absolute;
  display: inline-flex;
  mask: url(../images/icons/star.svg) no-repeat center left;
}

.star:not(.placeholder) {
  @apply z-20 bg-yellow-500;
}

.star.placeholder {
  @apply z-10 bg-gray-400;
}

@tailwind utilities;

.w-180 {
  width: 45rem;
}

.h-120 {
  height: 30rem;
}

.h-135 {
  height: 33.75rem;
}
