@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

@tailwind base;

@tailwind components;

.active {
  @apply text-red-600 font-medium;
}

.btn {
  @apply inline-block font-medium py-3 px-6 border-2 border-transparent uppercase;
}

.btn-small {
  @apply py-2 px-4;
}

.btn-fill {
  @apply bg-red-600 text-white transition ease-in-out duration-300 hover:bg-transparent hover:border-red-600 hover:text-red-600;
}

.btn-outline {
  @apply bg-transparent border-2 transition ease-in-out duration-300 hover:border-transparent;
}

.btn-outline-red {
  @apply border-red-600 text-red-600 hover:bg-red-600 hover:text-white;
}

.btn-outline-gray {
  @apply border-gray-700 text-gray-700 hover:bg-gray-900 hover:text-white;
}

.stars {
  position: relative;
  min-width: 200px;
  display: inline-flex;
}

.star {
  position: absolute;
  display: inline-flex;
  mask: url(../images/icons/star.svg) no-repeat center left;
}

.star:not(.placeholder) {
  @apply z-20 bg-yellow-500;
}

.star.placeholder {
  @apply z-10 bg-gray-400;
}

.input-text {
  @apply mb-4 relative;
}

.input-text .input-group {
  @apply bg-white;
}

.input-text .input-group .input-group-text {
  @apply pointer-events-none border-none cursor-auto p-0 w-12 h-12 flex justify-center bg-gray-900 absolute z-50;
}

.input-text .input-group .form-control {
  @apply border border-gray-300 outline-none shadow-none py-2 px-4 w-full h-12;
}

.input-text .input-group .form-control::placeholder {
  @apply text-gray-400 font-light tracking-wider;
}

.input-text .error-helper {
  @apply bg-red-600 text-white py-0 px-1 text-xs;
}

@tailwind utilities;

.w-180 {
  width: 45rem;
}

.h-120 {
  height: 30rem;
}

.h-135 {
  height: 33.75rem;
}
